<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg" href="{{ alias('@web') }}/uploads/site-assets/logo/favicon.svg">
		<title>
			{% block title %}Watnu
			{% endblock %}
		</title>

		<link rel="stylesheet" href="{{ alias('@web') }}/css/global.css"> {% block styles %}{% endblock %}{% block scripts_head %}{% endblock %}
		</head>
		<body class="{% block bodyClass %}{% endblock %}"> {% block header %}{% endblock %}

			<main>
				{% block content %}{% endblock %}
			</main>

			{% block footer %}{% endblock %}
			{% block scripts %}{% endblock %}
		</body>
	</html>
